#project {
    @include section-css;
    flex-direction: column;
    .container {
        display: flex;
        justify-content: space-around;
        font-size: 1.5em;
        height: 90%;
        width: 80%;
        .project-container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .project-slide {
                height: 95%;
                width: 80%;
                background-color: $primary;
                border-radius: 10px;
                border: 3px solid $primary;

                .desc-grid {
                    display: flex;
                    justify-content: space-between;
                    height: 10%;
                    width: 100%;
                    .name {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-left: 1rem;
                    }
                    .link {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-right: 1rem;
                        a{
                            color: $white-opac;
                        }
                        a:hover{
                            cursor: pointer;
                            color: $white;
                        }
                    }
                }
                .img-grid {
                    height: 90%;
                    width: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
