//importing the css components created in the _components.scss
@import "components";

//Global Settings
* {
    padding: 0;
    margin: 0;
    text-align: left;
}
html {
    scroll-behavior: smooth;
}
.container {
    margin: 0 auto;
    width: 80%;
}
body {
    font-family: $font-family;
    background: black;
    color: $white;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: $white;
    border-radius: 10px;
}
h2 {
    @include padding;
    margin: 30px 0;
    text-align: center;
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
    padding: 20px;
}

.exit-box {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    color: $white;

    .message-btn {
        margin: 20px 0 0 20px;
        border-radius: 0;
        width: 35px;
        height: 30px;
    }
    .message-btn:hover {
        background-color: $white;
        color: $primary;
        transition: 0.5s;
        cursor: pointer;
    }
}

.message-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: 2.5em;
    color: $white;
}

//This is the navigation bar style
nav {
    .nav-container {
        border-radius: 10px;
        a {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 90px;
    }
    .navbar {
        margin: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 90px;
        background: $primary-opac;
        border-radius: 10px;
    }

    a:hover {
        background-color: $white;
        color: $primary;
        transition: 0.5s;
    }
}

//this is the social media container style
.social-media {
    position: fixed;
    left: 0;
    bottom: 50%;
    background: $primary-opac;
    width: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 1.3em;
    ul {
        li {
            padding: 10px;
            list-style: none;
            a {
                padding: 10px;
            }
        }
    }
    a:hover {
        background-color: $white;
        color: $primary;
        transition: 0.5s;
    }
}
#contact-container {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    background: $primary-opac;
    border-radius: 50%;

    .message-btn:hover {
        outline: 4px solid $primary;
        background-color: $white;
        color: $primary;
        transition: 0.5s;
        cursor: pointer;
    }
}

#contact {
    .container {
        margin: 0 auto;
        width: 90%;
    }
    .success-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            padding: 30px;
            width: 60px;
            height: 60px;
        }
    }

    h2 {
        padding: 0;
        font-size: 2rem;
    }
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 1em;
    background-color: $primary-opac;
    width: 30%;

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label {
            color: $white;
        }
        input {
            background-color: $white-opac;
            font-size: 1em;
            width: 80%;
            height: 40px;
            margin: 20px 0;
            border-radius: 5px;
            border: none;
        }
        textarea {
            background-color: $white-opac;
            margin: 20px 0;
            font-size: 1.2em;
            width: 80%;
            min-height: 300px;
            border-radius: 5px;
            border: none;
        }
        input:focus,
        textarea:focus,
        input:hover,
        textarea:hover {
            background-color: $white;
            outline: $primary 2px solid;
            transition: 0.3s;
        }
        .btn {
            margin-top: 30px;
            width: 50%;
            text-align: center;
            font-size: 1em;
            border: 2px solid $primary;
            border-radius: 8px;
            color: $white;
            height: 50px;
            background-color: $primary;
        }
        .btn:hover {
            cursor: pointer;
            background-color: $white;
            color: $primary;
            transition: 0.5s;
        }
    }
}

//This is the style for the whole welcome section
#home {
    @include section-css;
    .container {
        display: flex;
        justify-content: space-around;
        font-size: 1.5em;

        .text-container {
            .name-cont {
                padding: 30px;
            }
            p {
                padding: 30px;
            }
            width: 60%;
        }
        .image-container {
            display: flex;
            justify-content: center;
            width: 40%;
            border-radius: 50%;
            img {
                object-fit: cover;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                border: 10px solid $primary-opac;
                //outline: 10px solid $primary-opac;
            }
        }
    }
}

//This is the style for the whole skills section
#skills {
    @include section-css;
    flex-direction: column;
    h3 {
        text-align: center;
        color: $white-opac;
        margin: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 70%;

        img {
            margin: 10px;
            width: auto;
            height: 90px;
        }

        img:hover {
            transform: scale(1.15);
            transition: 0.6s;
        }
    }
}

//This is the style for the whole education section
#education {
    @include margin;
    h4 {
        color: $white;
        padding: 15px;
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        color: $primary;
        .left-container {
            border-right: 5px solid $primary;
            width: 45%;

            .education-cont {
                transition: all ease-in 0.2s;
                border-radius: 10px;
                margin: 30px auto;
                width: 75%;
                min-height: 250px;
                background: rgba(255, 255, 255, 0.148);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span {
                    padding: 10px;
                }
            }
            .education-cont:hover {
                box-shadow: 0 10px 10px $primary-opac;
                border: solid $primary-opac 1px;
            }
        }
        .right-container {
            border-left: 5px solid $primary;
            width: 45%;

            .exp-container {
                transition: all ease-in 0.2s;
                border-radius: 5px;
                width: 75%;
                margin: 30px auto;
                background: $primary-opac;
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: center;

                .img-container {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        padding: 10px;
                        height: 50px;
                        width: 200px;
                    }
                }
                .text-container {
                    padding: 10px;
                    h4,
                    p {
                        color: $white;
                        text-align: center;
                    }
                    ul {
                        margin: 20px;
                    }
                    width: 90%;
                    p {
                        padding: 10px;
                    }
                    span {
                        color: $white-opac;
                        padding: 0 10px;
                    }
                    .date {
                        color: $primary;
                    }
                    .tools {
                        display: flex;
                        flex-flow: row wrap;
                        font-size: 0.8em;
                    }
                }
            }
            .exp-container:hover {
                box-shadow: 0 10px 10px $white-opac;
                border: solid $white-opac 1px;
            }
        }
    }
}

#project {
    @include margin;

    .loader-container {
        display: flex;
        justify-content: center;
    }
    .pj-error {
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .repo-card {
            width: 300px;
            min-height: 200px;
            border-radius: 10px;
            margin: 10px;
            border: 2px solid $primary;
            //box-shadow: 10px 10px $primary-opac;
            .heading-container {
                h4 {
                    padding: 5px;
                    color: $primary;
                }
                padding: 5px;
                display: flex;
                justify-content: space-between;
                .date {
                    color: $white-opac;
                }
            }
            .details-container {
                font-size: 0.9em;
                margin-top: 15px;
                min-height: 136px;
                padding: 5px;
                .language {
                    padding-top: 20px;
                }
            }
            .card-footer {
                display: flex;
                justify-content: right;
                align-items: center;
                border-radius: 0 0 6px 6px;
                height: 40px;
                background-color: $primary;
                span {
                    color: $white-opac;
                    padding: 15px;
                }
                span:hover {
                    color: $white;
                    transition: 0.6s;
                }
            }
        }
        .repo-card:hover {
            box-shadow: 10px 10px $primary-opac;
            transition: 0.4s;
        }
    }
}

//This is the style for the whole details section
#details {
    @include margin;
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;

    p {
        text-align: center;
        padding: 20px;
    }
}
#footer {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary-opac;
    height: 200px;
    padding: 0;
    p {
        font-size: 1.4rem;
        padding-bottom: 25px;
    }
    .link-container {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 35px;
        border: solid 3px;
        border-radius: 10px;
    }
    a {
        align-self: center;
        text-decoration: none;
        color: $white;
        font-size: 1.4em;
        font-weight: bold;
    }
    .link-container:hover {
        background: $white;
        color: $primary;
    }
    .outer-footer {
        text-align: center;
        width: 100%;
        .copyright {
            font-size: 1em;
            color: $white;
            a {
                font-size: 1em;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

//changing element attributes for screen smaller than 800px to enable responsiveness
@media screen and (max-width: 800px) {
    .container {
        align-items: center;
        width: 100% !important;
    }

    #contact {
        width: 40% !important;
    }
    #education {
        .container {
            flex-direction: column !important;
            .left-container {
                border-right: none;
                width: 100% !important;
            }
            .right-container {
                border-left: none;
                width: 100% !important;
            }
        }
    }
    #home {
        margin-top: 25px;
        .container {
            flex-direction: column-reverse;
        }
        .text-container {
            width: 100% !important;
        }
        .image-container {
            width: 100% !important;
            border-radius: 50%;
            padding-bottom: 50px;
        }
    }
    #experience {
        .exp-container {
            display: flex;
            align-items: center;
            width: 90% !important;
            flex-direction: column;
        }
        .text-container {
            width: 90% !important;
        }
        img {
            width: 200px !important;
        }
    }
    #cta {
        justify-content: center;
    }
    .social-media {
        margin-top: 80px;
        padding: 12px 0;
        ul {
            display: flex !important;
            flex-direction: row !important;
            justify-content: center;
        }
        width: 100% !important;
        position: relative;
        border-radius: 0;
    }
    nav {
        display: flex;
        justify-content: center !important;
    }
    .navbar {
        right: unset !important;
        top: 0 !important;
        height: 60px !important;
        width: 95% !important;
        justify-content: center !important;
    }
    .nav-container {
        width: 20% !important;
        margin: 5px;
        a {
            height: 30% !important;
        }
    }
    #footer {
        margin-top: 0;
    }
}

//changing element attributes for screen smaller than 540px to enable responsiveness
@media screen and (max-width: 540px) {
    #project {
        @include mobile-margin;
        margin: 0 auto !important;
        .container {
            margin: 0 auto !important;
            flex-direction: column !important;
            justify-content: center !important;
        }
    }
    #skills {
        @include mobile-margin;
        img {
            margin: 10px !important;
            width: auto !important;
            height: 55px !important;
        }
    }
    #contact {
        @include mobile-margin;
        position: relative !important;
        background: transparent !important;
        width: 90% !important;
        .exit-box {
            visibility: hidden !important;
        }
        margin: 0 auto !important;
    }
    .navbar {
        height: 45px !important;
        margin: 5px !important;
    }
    .nav-container {
        height: 45px !important;
        width: 45px !important;
        font-size: 0.7em !important;
    }
    body {
        font-size: 0.9em !important;
    }
    #home {
        img {
            width: 270px !important;
            height: 270px !important;
        }
    }
    #details,
    #education,
    #contact {
        @include mobile-margin;
    }
}
